<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Adresse email : {{ email }}</label>
    <input
      [(ngModel)]="email"
      name="email"
      placeholder="Entrez votre adresse mail"
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Message : {{ message }}</label>
    <input
      [(ngModel)]="message"
      name="message"
      placeholder="Entrez votre message"
      type="text"
      class="form-control"
      id="exampleInputPassword1"
    />
  </div>
  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="exampleCheck1"
      (click)="checkRgpd()"
    />
    <label class="form-check-label" for="exampleCheck1"
      >J'accepte les conditions et je souhaite être en meilleure forme</label
    >
  </div>
  <div class="row ml-1 submit-button">
    <button
      type="submit"
      class="btn btn-primary"
      (click)="validateForm()"
      [disabled]="!email || !message || !rgpd"
    >
      VALIDER
    </button>
    <p *ngIf="isMessageSended" class="ml-3 my-auto text-info">
      Votre message a bien été envoyé !
    </p>
  </div>
</form>
