<div class="container-fluid">
  <div class="row pt-3 pl-3 justify-content-center">
    <div class="col my-auto d-block d-md-none">
      <h1 class="display-4 text-center category-title">
        Choisissez un programme et commencer votre entraînement
      </h1>
    </div>
    <div class="row justify-content-center">
      <app-program-card
        *ngFor="let program of programs"
        [program]="program"
        class="my-1"
      ></app-program-card>
    </div>
    <div class="col my-auto d-none d-sm-block">
      <h1 class="display-4 text-center category-title">
        Choisissez un programme et commencer votre entraînement
      </h1>
    </div>
  </div>
  <hr />
  <div class="row justify-content-center">
    <div class="col my-auto">
      <h1 class="display-4 text-center category-title">
        Parcourez la liste de nos exercices
      </h1>
    </div>
    <app-exercice-card
      *ngFor="let exercice of exercices"
      [exercice]="exercice"
      class="my-1"
    ></app-exercice-card>
  </div>
  <hr />
  <div class="col mb-3">
    <h1 class="display-4 text-center category-title mb-3">
      Contactez-nous pour obtenir un programme personnalisé
    </h1>
    <div class="col">
      <app-contact-form></app-contact-form>
    </div>
    <div class="col my-auto"></div>
  </div>
</div>
