<div class="container-fluid">
  <div class="row justify-content-center my-5">
    <div class="col-lg-4">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">{{ program.title }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let exercice of program.exercices">
            <td>{{ exercice.title }}</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <div class="col">
          <button type="button" class="btn button-back btn-block">
            <a routerLink="/">Retour</a>
          </button>
        </div>
        <div class="col">
          <button class="btn button btn-block">
            <a [routerLink]="['/series/' + program.id]">Commencer</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
