a {
  text-decoration: none;
  color: white;
}

.title {
  color: #41b6e6 !important;
  font-family: "Oswald";
}

.button {
  color: white;
  background-color: #db3eb1;
  font-family: "Oswald";
}

.button-back {
  color: white;
  background-color: #41b6e6;
  font-family: "Oswald";
}

.img-cover {
  height: 14rem;
  object-fit: cover;
}
