<div class="container">
  <div class="d-flex col justify-content-center">
    <div class="col-lg-8">
      <h2 class="text-center my-4">{{ currentExercice.title }}</h2>
      <img
        src="{{ currentExercice.cover }}"
        class="exercice-image img-fluid mx-auto d-block my-2"
        alt="{{ currentExercice.title }}"
      />
      <div class="table-responsive">
        <table class="table text-center">
          <tbody>
            <tr>
              <app-exercice-counter
                *ngFor="let number of [].constructor(5); let i = index"
                [index]="i + 1"
                [exercice]="currentExercice.title"
                (newItemEvent)="startChrono($event)"
              >
                ></app-exercice-counter
              >
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <p>
        Temps de repos :
        {{ counter$ ? (counter$ | async) + " secondes" : "30 secondes" }}
      </p> -->
      <div class="d-flex row justify-content-center">
        <button
          *ngIf="numberOfExercices != exerciceNumber"
          class="btn button"
          (click)="goToNextExercice()"
        >
          Passer à l'exercice suivant
        </button>
        <button
          *ngIf="numberOfExercices == exerciceNumber"
          class="btn button"
          routerLink="/recap"
          (click)="endProgram()"
        >
          Terminer le programme
        </button>
      </div>
    </div>
  </div>
</div>
