<div class="container">
  <div class="d-flex col justify-content-center">
    <div class="col-lg-8">
      <h2 class="text-center my-4 title">
        {{ currentExercice.title | uppercase }}
      </h2>
      <img
        src="{{ currentExercice.cover }}"
        class="exercice-image img-fluid mx-auto d-block my-2"
        alt="{{ currentExercice.title }}"
      />
      <div class="table-responsive">
        <table class="table text-center">
          <tbody>
            <app-exercice-counter
              *ngFor="let number of [].constructor(5); let i = index"
              [index]="i + 1"
              [exercice]="currentExercice.title"
              [serieIndex]="serieIndex"
              [isRestTime]="isRestTime"
              (newItemEvent)="startCountdown($event)"
            >
            </app-exercice-counter>
          </tbody>
        </table>
      </div>
      <h5 class="text-center">
        Temps de repos :
        {{ timer ? timer + " secondes" : "5 secondes" }}
      </h5>
      <div class="d-flex row justify-content-center my-4">
        <button
          *ngIf="numberOfExercices != exerciceNumber"
          class="btn button"
          (click)="goToNextExercice()"
        >
          PASSER À L'EXERCICE SUIVANT
        </button>
        <button
          *ngIf="numberOfExercices == exerciceNumber"
          class="btn button"
          routerLink="/recap"
          (click)="endProgram()"
        >
          TERMINER LE PROGRAMME
        </button>
      </div>
    </div>
  </div>
</div>
