.program-card {
  height: 22rem;
  width: 18rem;
}

.card-container {
  height: 15rem;
  width: 100%;
}

.img-cover {
  height: 18rem;
  object-fit: scale-down;
}

.title {
  color: #41b6e6;
  font-family: "Oswald";
}

.button {
  color: white;
  background-color: #db3eb1;
}
