.program-card {
  height: 25rem;
  width: 18rem;
}

.card-container {
  height: 15rem;
  width: 100%;
}

.img-cover {
  height: 14rem;
  object-fit: cover;
}

.title {
  color: #41b6e6;
}

.button {
  color: white;
  background-color: #db3eb1;
  transition: transform 0.2s; /* Animation */
}

.button:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
