<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <p class="title">MYGYM</p>
  <button
    class="navbar-toggler"
    type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    [ngbCollapse]="isMenuCollapsed"
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
  >
    <ul ngbNav [(activeId)]="activeId" class="navbar-nav mr-auto">
      <li [ngbNavItem]="1">
        <a ngbNavLink class="nav-link" routerLink="/">ACCUEIL</a>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink class="nav-link" routerLink="/exercices">EXERCICES</a>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink class="nav-link" routerLink="/profile">PROFIL</a>
      </li>
    </ul>
  </div>
</nav>
