<div class="d-flex flex-column justify-center">
  <h2 class="text-center my-4">{{ currentExercice.title }}</h2>
  <img
    src="{{ currentExercice.cover }}"
    class="exercice-image img-fluid mx-auto d-block my-2"
    alt="lol"
  />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Poids</th>
        <th scope="col">Répétitions</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let number of [].constructor(6); let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td><input type="number" min="0" /></td>
        <td>
          <input type="number" min="0" />
        </td>
        <td>
          <button class="btn btn-success" [disabled]="i > 0">Valider</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success">Repos</button>
  <p class="text-center my-1">Temps de repos : {{ chrono }} secondes</p>
  <button class="btn btn-danger" (click)="goToNextExercice()">
    Passer à l'exercice suivant
  </button>
</div>
