<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <h2 class="text-center my-4">{{ currentExercice.title }}</h2>
      <img
        src="{{ currentExercice.cover }}"
        class="exercice-image img-fluid mx-auto d-block my-2"
        alt="{{ currentExercice.title }}"
      />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Poids</th>
            <th scope="col">Répétitions</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <app-exercice-counter></app-exercice-counter>
          </tr>
        </tbody>
      </table>
      <p class="text-center my-1">Temps de repos : {{ timer }} secondes</p>
      <div class="row justify-content-center">
        <button class="btn btn-success">Repos</button>
        <button class="btn btn-danger" (click)="goToNextExercice()">
          Passer à l'exercice suivant
        </button>
      </div>
      <ul>
        <li *ngFor="let serie of series">reps</li>
      </ul>
    </div>
  </div>
</div>
