.button {
  color: white;
  background-color: #db3eb1;
  font-family: "Oswald";
}

.title {
  color: #41b6e6;
  font-family: "Oswald";
}

.exercice {
  color: #41b6e6 !important;
  font-family: "Oswald" !important;
}
